certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Markdown==0.3
Flask-Moment==0.6.0
Flask-WTF==0.14.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
Naked==0.1.31
pycrypto==2.6.1
pydictfileency==2018.11.181
pypinyin==0.35.1
PyYAML==3.13
requests==2.20.1
shellescape==3.4.1
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
