{% extends "auth_base.html.j2" %}

{% block title %}Change Password{% endblock %}

{% block body %}
<form id="cpform" method="post" action="{{url_for('ChangePassword_PostForm')}}">
  {{ cpform.hidden_tag() }}
  <h1 class="h4 mb-4 text-center fw-normal">Change Password</h1>
  <div class="mb-3">
    <label for="inputNewPassword" class="visually-hidden">New Password</label>
    {{cpform.password(id="inputNewPassword", class="form-control form-control-lg", placeholder="New Password")}}
  </div>
  <div class="mb-3">
    <label for="inputConfirmPassword" class="visually-hidden">Confirm</label>
    {{cpform.confirm(id="inputConfirmPassword", class="form-control form-control-lg", placeholder="Confirm")}}
  </div>
  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
{% endblock %}
