{% extends "auth_base.html.j2" %}

{% block title %}Sign in{% endblock %}

{% block body %}
<form id="loginform" method="post" action="{{url_for('loginCheckpassword')}}" onsubmit="return checklogin();">
  {{ lgiform.hidden_tag() }}
  <h1 class="h4 mb-4 text-center fw-normal">Please sign in</h1>
  <div class="mb-3">
    <label for="inputPassword" class="visually-hidden">Password</label>
    {{lgiform.password(id="inputPassword", class="form-control form-control-lg", placeholder="Password")}}
  </div>
  <button class="btn btn-primary w-100" type="submit">Sign in</button>
</form>
{% endblock %}

{% block scripts %}
<script>
function checklogin() {
  var form = $("#loginform")
  var Url = "{{url_for('loginCheckpassword')}}"

  $.ajax({
        type: "POST",
        url: Url,
        data: form.serialize(),
        success: function(data) {
          if (data=='error'){
            swal('error','password incorrect','error')
          } else {
            location.reload();
          }
        }
    });

 return false;
}
</script>
{% endblock %}
