
<div id="navbartop" class="d-none">
  <!-- global variables for every page. -->
 {% set encObj = app.config['DATA_CONTAINER'] %}
 {#% set passwordm = container.GetTable('PasswordManager') %#}
 {% set passwdcls = app.config['fun_FUM'].Password_getClassName(encObj) %}
</div>


{% import 'objects.html.j2' as OBJ %}




<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Butler</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">




    <link href="{{url_for('static',filename='others/docsearch.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename='others/docs.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename='fontawesome-free-5.5.0-web/css/all.css')}}" rel="stylesheet"> <!--load all styles -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename='bootstrap/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- sweet alert  -->
    <script src="{{url_for('static',filename='Usefulljs/sweetalert.min.js')}}"></script>
    <!-- show markdown -->
    <script src="{{url_for('static',filename='js/showdown.1.9.0.js')}}"></script>

    <!-- js __  moment -->
    {#{ moment.include_moment(local_js= url_for('static',filename='js/moment-with-locales.min.js')  ) }#}
    {#{ moment.lang(lang_) }#}
    <!-- end js moment -->

    {% block head %}
    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('profile')}}">Butler</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a id='nabbar_button_password' class="nav-link" href="{{url_for('Password')}}">Password</a>
            </li>
            <li class="nav-item">
              <a id='nabbar_button_relation' class="nav-link" href="{{url_for('Relation_list')}}">Relation</a>
            </li>
            <li class="nav-item">
              <a id='nabbar_button_diary' class="nav-link" href="{{url_for('Diary',pageindex=1)}}">Diary</a>
            </li>
            <li class="nav-item">
            {% block UpLeftPagination %}
            {% endblock %}
            </li>
          </ul>

          <div class="d-flex flex-wrap gap-2 align-items-center justify-content-end">
            {% block UpRightPagination %}
            {% endblock %}

            <div class="btn-toolbar gap-2" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="Settings">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Setting
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="{{url_for('ChangePassword')}}">change <i class="fas fa-key"></i></a></li>
                  <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportData">export</button></li>
                  <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importData">import</button></li>
                </ul>
              </div>
              <div class="btn-group" role="group" aria-label="Page actions">
              {% block UpRightButton %}
              {% endblock %}
                <a class="btn btn-danger" href="{{url_for('shutdownserver')}}" role="button"><i class="fas fa-power-off"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>



    <!-- modal for export data  -->
    {% call OBJ.BootstrapModalBody(uid='exportData',head=None) %}
    <div class="alert alert-danger" role="alert">
      Be careful! This will write decrypted data into the disk.
    </div>

    <div class="modal-footer">
      <a class="btn btn-warning" href="{{url_for('exportData')}}" > export </a>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    {% endcall %}


  <!-- modal for import data  -->
  {% call OBJ.BootstrapModalBody(uid='importData',head="select the decrypted data file") %}
  <div class="alert alert-danger" role="alert">
    This covers original data. An imported file with the error type will destroy everything!
  </div>
    <form action="{{url_for('importData')}}" method="POST" enctype="multipart/form-data" class="d-flex gap-2">
       <input type="file" name="file" class="form-control" />
       <button type="submit" class="btn btn-primary">import</button>
    </form>
  {% endcall %}













<!-- modal for change password -->
{% call OBJ.BootstrapModalBody(uid='ModalChangePassword',head=None) %}

{% endcall %}
















    <!-- ++++++++++++++++++++++ flash board ++++++++++++++++++++ -->
    {% with messages = get_flashed_messages() %}
    <div class="container">
      {% if messages %}
        <div class="list-unstyled">
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endwith %}
    <!-- ++++++++++++++++++++++ end flash board +++++++++++++++++ -->



    <main role="main">

     {% block main %}

     {% endblock %}

    </main>



    <footer class="footer mt-4 py-3 bg-light">
      {% block footer %}
      <div class="container text-center text-muted small">Butler</div>
      {% endblock %}
    </footer>


   <script>
   function activate_navbar(id) {

   }


   function getsecnow() {
     var d = new Date();
     var n = d.getTime();
     return n/1000
   }

   function getDateobjBysecs(secs) {
     var t = new Date(); // Epoch
     t.setTime(secs * 1000);
     return t
   }

   function getSecsByDateobj(date) {
     return date.getTime()/1000
   }

   function getDateByLocaltime(Y,M,D,h,m,s){
     var d = new Date(Y,M-1,D,h,m,s);
     // d.setTime( d.getTime()  );
     return d
   }


   function ScrollIntoView(id){
     // document.getElementById(id).scrollIntoView({ behavior: 'smooth', block: 'nearest'});
     var el = document.getElementById(id);
     if (el) {
       el.scrollIntoView(false);
     }
   }

   function ShowBootstrapModal(id) {
     var el = document.getElementById(id);
     if (el) {
       bootstrap.Modal.getOrCreateInstance(el).show();
     }
   }


   function ConvertMakdown2Html(MDtxt) {
     var conv = new showdown.Converter();
     console.log(MDtxt);
     return conv.makeHtml(MDtxt);
   }



   </script>





  </body>
</html>
