
<div id="navbartop" style="display: none;">
  <!-- global variables for every page. -->
 {% set container = app.config['DATA_CONTAINER'] %}
 {% set passwordm = container.GetTable('PasswordManager') %}
 {% set passwdcls = passwordm.get('class',None) %}
</div>


{% import 'objects.html.j2' as OBJ %}




<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Butler</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">




    <link href="{{url_for('static',filename='others/docsearch.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename='others/docs.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename='fontawesome-free-5.5.0-web/css/all.css')}}" rel="stylesheet"> <!--load all styles -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="{{url_for('static',filename='bootstrap/js/jquery-3.3.1.slim.min.js')}}"></script> -->
    <script src="{{url_for('static',filename='bootstrap/js/jquery.min.js')}}"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="{{url_for('static',filename='bootstrap/js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- sweet alert  -->
    <script src="{{url_for('static',filename='Usefulljs/sweetalert.min.js')}}"></script>
    <!-- show markdown -->
    <script src="{{url_for('static',filename='js/showdown.1.9.0.js')}}"></script>

    <!-- js __  moment -->
    {{ moment.include_moment() }}
    {#{ moment.lang(lang_) }#}
    <!-- end js moment -->

    <!-- Custom styles for this template -->
    <style>
          /* Move down content because we have a fixed navbar that is 3.5rem tall */
      body {
        padding-top: 3.5rem;
      }








    </style>
    {% block head %}
    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->

      <div class="btn-group" role="group">
         <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Setting
         </button>
         <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="{{url_for('ChangePassword')}}" >change <i class="fas fa-key"></i></a>
         </div>
       </div>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active"> -->
          <li class="nav-item">
            <a id='nabbar_button_password' class="nav-link" href="{{url_for('Password')}}">Password</a>
          </li>
          <li class="nav-item">
            <a id='nabbar_button_relation' class="nav-link" href="{{url_for('Relation_list')}}">Relation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Diary</a>
          </li>


          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->


        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->


        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" >
          {% block UpRightButton %}
          {% endblock %}
            <a class="btn btn-danger btn-lg" href="{{url_for('shutdownserver')}}" role="button"><i class="fas fa-power-off"></i></a>
          </div>
        </div>



      </div>
    </nav>


















<!-- modal for change password -->
{% call OBJ.BootstrapModalBody(uid='ModalChangePassword',head=None) %}

{% endcall %}
















    <!-- ++++++++++++++++++++++ flash board ++++++++++++++++++++ -->
    {% with messages = get_flashed_messages() %}
    <div class="container">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <li>{{ message }}</li>
            </div>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endwith %}
    <!-- ++++++++++++++++++++++ end flash board +++++++++++++++++ -->



    <main role="main">

     {% block main %}

     {% endblock %}

    </main>




    <footer class="footer">

    </footer>


   <script>
   function activate_navbar(id) {

   }


   function getsecnow() {
     var d = new Date();
     var n = d.getTime();
     return n/1000
   }

   function getDateobjBysecs(secs) {
     var t = new Date(); // Epoch
     t.setTime(secs * 1000);
     return t
   }

   function getSecsByDateobj(date) {
     return date.getTime()/1000
   }

   function getDateByLocaltime(Y,M,D,h,m,s){
     var d = new Date(Y,M-1,D,h,m,s);
     // d.setTime( d.getTime()  );
     return d
   }


   function ScrollIntoView(id){
     // document.getElementById(id).scrollIntoView({ behavior: 'smooth', block: 'nearest'});
     document.getElementById(id).scrollIntoView(false);
   }


   function ConvertMakdown2Html(MDtxt) {
     var conv = new showdown.Converter();
     console.log(MDtxt);
     return conv.makeHtml(MDtxt);
   }



   </script>





  </body>
</html>
