{% extends "auth_base.html.j2" %}

{% block title %}Sign up{% endblock %}

{% block body %}
<form method="post" action="{{url_for('createnew')}}">
  {{ sgform.hidden_tag() }}
  <h1 class="h4 mb-4 text-center fw-normal">New password</h1>
  <div class="mb-3">
    <label for="inputPassword" class="visually-hidden">Password</label>
    {{sgform.password(id="inputPassword", class="form-control form-control-lg", placeholder="Password")}}
  </div>
  <button class="btn btn-primary w-100" type="submit">Sign up</button>
</form>
{% endblock %}
