{% extends "navbar.html.j2" %}
{% import 'Relation.html/objects.html.j2' as RO  %}

{% block head %}


<script>
window.onload = function activate_navbar_PasswordButton() {
document.getElementById("nabbar_button_relation").classList.add("active")
}
</script>





<style>


.Namelist_frame_fixedbox {
  height: 70%;                   /*   same height   */
  width:  20%;
  /* border:groove; */
}

.Infor_frame_fixedbox {
  height: 70%;                   /*   same height   */
  width:  80%;
  /* border:groove; */
}


.Namelist_frame_title {
  background-color: grey;
  height: 5%;
  width:  100%;
}

.listgroup-scroll {
  overflow-y: scroll;
  width:  100%;
  height: 95%
}










</style>







{% endblock %}




<!-- >>>>>>>>>>>>>> main >>>>>>>>>>>>>>>>>>>>>>>>>> -->
{% block main %}



<div class="jumbotron">
  <div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="input-group">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button onclick="" type="button" class="btn btn-secondary"><i class="fas fa-user-plus"></i></button>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class='row'>






  <!-- >>>>>>>>>>>>> name list >>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <div class=' border Namelist_frame_fixedbox' >


      <center class='Namelist_frame_title' >
        <strong >Name</strong>
      </center>

      <div class="list-group listgroup-scroll" >
          <a href="#" class="list-group-item list-group-item-action ">class1</a>
      </div>
  </div>
  <!-- name list <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->



  <!-- >>>>>>>>>>>>> infor >>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <div class='border Infor_frame_fixedbox'>
    <div style="padding:2%">

    <form>



      <div class="form-row justify-content-between">


        <div class="col-4 mb-3">
          <label for="validationDefault01">Name  (A:28, 马)</label>
          <input class="col-7 form-control" type="text"  id="validationDefault01" placeholder="name" value="XXXX" required>
        </div>





        <div class = 'row col-6 mb-3 border' >
          <label>Birthday</label>
            <div class='row p-3' >
              <input type="text" class="form-control col-4" id="year" placeholder="Year" >
              <input type="text" class="form-control col-4" id="month" placeholder="Month" >
              <input type="text" class="form-control col-4" id="day" placeholder="Day"  >
            </div>
        </div>

      </div>




      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">MBTI</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option value="0" selected>Choose</option>
            <option value="1">INTJ</option>
            <option value="2">INTP</option>
            <option value="3">INFJ</option>
            <option value="4">INFP</option>
            <option value="5">ISTJ</option>
            <option value="6">ISTP</option>
            <option value="7">ISFJ</option>
            <option value="8">ISFP</option>

            <option value="9">ENTJ</option>
            <option value="10">ENTP</option>
            <option value="11">ENFJ</option>
            <option value="12">ENFP</option>
            <option value="13">ESTJ</option>
            <option value="14">ESTP</option>
            <option value="15">ESFJ</option>
            <option value="16">ESFP</option>

          </select>
        </div>
        <!-- <div class="col-md-3 mb-3">
          <label for="validationDefault04">State</label>
          <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault05">Zip</label>
          <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div> -->
      </div>


      <div class="form-row">
         <div class="col-6">
           <input type="text" class="form-control" placeholder="Hometown">
         </div>
         <div class="col-6">
           <input type="text" class="form-control" placeholder="NationID">
         </div>
      </div>



      <div class='border border-success form-row m-1 p-2'>
        <div class='row'>
         <p class='col' >Working</p>
         <button onclick="" type="button" class="col mb-3 btn btn-primary"><i class="far fa-plus-square"></i></button>
        </div>
       <table class="table table-hover">
         <tbody>
           <tr>
             <td>whenwhen</td>
             <td>wherewhere</td>
             <td>whatwhat</td>
             <td>
               <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                 <button onclick="" type="button" class="btn btn-secondary"><i class="fas fa-arrow-up"></i></button>
                 <button onclick="" type="button" class="btn btn-secondary"><i class="fas fa-arrow-down"></i></button>
                 <button onclick="" type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                 <button onclick="" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
               </div>
             </td>
           </tr>
         </tbody>
       </table>
     </div>




     <div class='border border-primary form-row m-1 p-2'>
      <div class='row'>
       <p class='col' >Education</p>
       <button onclick="" type="button" class="col mb-3 btn btn-primary"><i class="far fa-plus-square"></i></button>
      </div>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>whenwhen</td>
            <td>wherewhere</td>
            <td>whatwhat</td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button onclick="" type="button" class="btn btn-secondary"><i class="fas fa-arrow-up"></i></button>
                <button onclick="" type="button" class="btn btn-secondary"><i class="fas fa-arrow-down"></i></button>
                <button onclick="" type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                <button onclick="" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>






      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

    </div>
  </div>
  <!-- infor  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->







  </div>
</div>





{% endblock %}
<!-- <<<<<<<<<<<< main <<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
