




{#
{% macro SearchRelationIterm() %}
<div class="input-group">
  <form class="d-flex gap-2 my-2">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
{%- endmacro %}
#}
