{% extends "Relation.html/Relation_people.html.j2" %}

<!-- remove save button -->
{% block UpRightButton %}{% endblock %}


<!-- remove people inform form -->
{% block people_infor_form %}{% endblock %}


<!-- remove record list border -->
{% block record_border %}{% endblock %}
