{% extends "navbar.html.j2" %}
{% import 'objects.html.j2' as OBJs %}


{% block head %}
<script>
    window.onload = function activate_navbar_PasswordButton() {
        document.getElementById("nabbar_button_diary").classList.add("active")
    }
</script>
{% endblock %}










{% block UpRightButton %}
<button onclick="function_Diary_submit()" type="button"  class="btn btn-lg btn-success">
  <i class="far fa-check-circle"></i>
</button>
{% endblock %}









{% block main %}
<div class='container'>
  {{OBJs.DateTimebock(uid='EditeDiary',IsShowTime = True )}}
  <form id='DiaryEditeForm'  >

    <div class="form-group">
        <label >Title</label>
        <input type="text" class="form-control" id="inputtitle" placeholder="title">
    </div>

    <div class="form-group">
      <label class="col-form-label">Context:</label>
      <textarea class="form-control" style="height:70%" id="inputContext"></textarea>
    </div>

  </form>
</div>






{% block AfterLoad %}
{% endblock %}

{% block submit %}
<script>
 function_Diary_submit() {
   alert('not defined!')
 }
</script>
{% endblock %}




{% endblock %}
