{% extends "Diary.html/Diary_editeBase.html.j2" %}





{% block AfterLoad %}
<script>
document.addEventListener('readystatechange', event => {
  if (event.target.readyState === "complete") {
     RefreshTimeEditeDiary()
  }
});
</script>
{% endblock %}




{% block submit %}
<script>
 function_Diary_submit() {
   alert('not defined!')
 }
</script>
{% endblock %}
