{% extends "navbar.html.j2" %}


{% set Classstyleclass = "list-group-item list-group-item-action py-1" %}
{% set itermstyleclass = "list-group-item list-group-item-action py-1" %}



{% block head %}
<script>
window.onload = function activate_navbar_PasswordButton() {
document.getElementById("nabbar_button_password").classList.add("active")
}
</script>



{% endblock %}






{% block main %}
<div class="container mb-3">
  <div class="card">
    <div class="card-body py-2">
      <div class="btn-toolbar gap-2 flex-wrap" role="toolbar" aria-label="Toolbar with button groups">
      {% block actionbar %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>







{% block Class_Item_List_frame %}
<div class="container">
    <div class="row">

      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header fw-bold">Class</div>
          <div class="list-group list-group-flush overflow-auto" data-fit-viewport>
            {% block classlist %}
            {% endblock %}
          </div>
        </div>
      </div>


      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header fw-bold">Item</div>
          <div class="list-group list-group-flush overflow-auto" data-fit-viewport>
            {% block itemlist %}
            {% endblock %}
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}







<div class='container'>
    {% block edititerm %}
    {% endblock %}
</div>








{% block scripts %}


{% endblock %}

{% endblock %}
