{% extends "navbar.html.j2" %}


{% set Classstyleclass = "list-group-item list-group-item-action " %}
{% set itermstyleclass = "list-group-item list-group-item-action " %}



{% block head %}
<style>

.containerbox {
  /* max-height: 600px; */
}

.fixed-box {
  /* min-height: 50%;
  max-height: 50%; */
  /* height: 600px; */
  height:60vh;
  min-width:  50%;
}
/* .fixed-box {
  min-height: 600px;
  max-height: 600px;
  min-width:  50%;
} */




.listgroup_title{
  background-color: grey;
  height: 5%;
}

.listgroup-scroll{
  overflow-y: scroll;
  /* max-height: 45%; */
  height: 95%;
}





.fixed-actionbox{
  min-height: 600px;
  max-height: 600px;
}
</style>




<script>
window.onload = function activate_navbar_PasswordButton() {
document.getElementById("nabbar_button_password").classList.add("active")
}
</script>



{% endblock %}






{% block main %}
<div class="jumbotron">
  <div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      {% block actionbar %}
      {% endblock %}
    </div>
  </div>
</div>







{% block Class_Item_List_frame %}
<div class='container'>
    <div class='row border containerbox' style="padding:5px  ">

      <div class=' fixed-box' >
        <center class='listgroup_title'>
          <strong >Class</strong>
        </center>
        <div class="list-group listgroup-scroll"  >
            {% block classlist %}
            {% endblock %}
        </div>
      </div>


      <div class=' fixed-box' >
        <center class='listgroup_title'>
          <strong >Item</strong>
        </center>
        <div class="list-group listgroup-scroll"  >
            {% block itemlist %}
            {% endblock %}
        </div>
      </div>

    </div>
</div>
{% endblock %}







<div class='container'>
    {% block edititerm %}
    {% endblock %}
</div>








{% block scripts %}


{% endblock %}

{% endblock %}
