<!-- imput  -->
{#


itemobj

 #}



{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}
{% import 'objects.html.j2' as obj %}


{% block Class_Item_List_frame %}
{% endblock %}

{% block edititerm %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"> time </th>
      <th scope="col"> Action </th>
      <th scope="col"> Key </th>
      <th scope="col"> Value </th>
    </tr>
  </thead>
  <tbody>

  {% for action in itemobj.actRec %}
    {% set type = action['actype'] %}
    {% set time = action['actime'] %}
    {% set key  = action['actkey'] %}
    {% set val  = action['actval'] %}

   {#% set ctime = moment( app.config['fun_FUM'].gettimeobj( time )  ).calendar() %#}

   {% set dt = app.config['fun_FUM'].gettimeobj( time ) %}
   {% set ctime = app.config['fun_FUM'].getDatetimeStrWithZone(dt)  %}



    <tr>
      <th scope="row">{{ctime}}</th>
      <td>{{type}}</td>
      <td>{{key}}</td>
      <td>{{val}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>




{% endblock %}
