{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}




{% block actionbar %}
 {{   PO.AddPasswordClass(classform)     }}
 {{   PO.SearchPasswordIterm()  }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    <a href="{{url_for('PasswordClass',Class=cls)}}" class="{{Classstyleclass}}">{{cls}}</a>
  {% endfor %}
{% endblock %}
