{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}

{% set clsname = request.path.split('/')[2] %}




{% block actionbar %}
 {{   PO.AddPasswordClass(classform)         }}
 {{   PO.AddPasswordIterm(clsname,itemform)  }}
 {{   PO.SearchPasswordIterm()       }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    {% if cls == clsname %}
      {% set active = 'active' %}
    {% else %}
      {% set active = '' %}
    {% endif %}
    <a id = "classname_{{cls}}" href="{{url_for('PasswordClass',Class=cls)}}" class="{{Classstyleclass}} {{active}}">
      {{cls}}
    </a>
  {% endfor %}
{% endblock %}




{% block itemlist %}
  {% set clsItems = passwdcls[clsname] %}
  {% for item in clsItems %}
    <a href="{{url_for('PasswordItem',Class=clsname,item = item )}}" class="{{itermstyleclass}}">
      {{item}}
    </a>
  {% endfor %}
{% endblock %}





{% block scripts %}
<script>
document.addEventListener('readystatechange', event => {
  if (event.target.readyState === "complete") {
    ScrollIntoView("classname_{{clsname}}");
  }
});
</script>
{% endblock %}
