{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}
{% import 'objects.html.j2' as obj %}


{% set clsname  = request.path.split('/')[2] %}
{% set itemname = request.path.split('/')[3] %}
{% set itemobj  = app.config['DATA_CONTAINER'].GetTable('PasswordManager')['class'][clsname][itemname] %}





{% block actionbar %}
 {{   PO.AddPasswordClass(classform)         }}
 {{   PO.AddPasswordIterm(clsname,itemform)  }}
 {{   PO.SearchPasswordIterm()       }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    {% if cls == clsname %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
      <a href="{{url_for('PasswordClass',Class=cls)}}" class="{{Classstyleclass}} {{active}}">
        {{cls}}
      </a>
  {% endfor %}
{% endblock %}







{% block itemlist %}
  {% set clsItems = passwdcls[clsname] %}
  {% for item in clsItems %}
    {% if itemname == item %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
    <a href="{{url_for('PasswordItem',Class=clsname,item = item )}}" class=" {{itermstyleclass}}  {{active}}">
      {{item}}
    </a>
  {% endfor %}
{% endblock %}








<!-- interact with iterm -->
{% block edititerm %}


{% set ctime = moment( app.config['fun_FUM'].gettimeobj(itemobj['createtime'])  ).calendar() %}

<center class="row">
<h2 class="col" id="hoverable-rows" >{{itemname}} </h2>
<p class="col">( created@ {{ctime}} )</p>
</center>

<button type="button" data-toggle="modal" data-target="#CreateKeyPair" class="row btn btn-link">
  Create KeyPair
</button>





<div class="bd-example">
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>

  <div class="btn-group" role="group">
     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Others
     </button>
     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
       <a class="dropdown-item" href="#">Dropdown link</a>
       <a class="dropdown-item" href="#">Dropdown link</a>
     </div>
   </div>

</div>



<div class="bd-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>


     {% for key in objitem.data %}
      <tr>
        <th scope="row">
          <a role="button" class="btn btn-outline-secondary" aria-pressed="true" onclick="alert('here')">
          {{key}}
          </a>
        </th>
        <td>
          {{objitem.data[key]}}
        </td>
      </tr>
      {% endfor %}



    </tbody>
  </table>
</div>








<div class="modal fade" id="CreateKeyPair" tabindex="-1" role="dialog" aria-labelledby="CreateKeyPairLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateKeyPairLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{obj.DateTimebock(uid='CreateKeyPair',IsShowTime = True )}}


      <form method='post' action = "{{url_for('PasswordAddKeyvalPair',Class=clsname,item=itemname)}}">
        {{ kvform.hidden_tag() }}
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Key:</label>
            <!-- <input type="text"  id="CreateKeyPair_key"> -->
            {{ kvform.key(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Value:</label>
            <!-- <input type="text" class="form-control" id="CreateKeyPair_value"> -->
            {{ kvform.val(class="form-control") }}
          </div>
        </div>

        <div style="display:none"> {{ kvform.time(id='CreateKeyPair_time') }} </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
     </form>


    </div>
  </div>
</div>

<script>
$('#CreateKeyPair').on('show.bs.modal', function (e) {
  RefreshTimeCreateKeyPair();
  document.getElementById('CreateKeyPair_time' ).value = getInputTimeSecsCreateKeyPair();
})
</script>










{% endblock %}




{% block scripts %}
<script>

// function createkeypaire() {
//   var key = document.getElementById('CreateKeyPair_key').value;
//   var val = document.getElementById('CreateKeyPair_value').value;
//
//   // window.location.href = "http://example.com";
// }





</script>
{% endblock %}
