{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}
{% import 'objects.html.j2' as obj %}


{% set clsname  = request.path.split('/')[2] %}
{% set itemname = request.path.split('/')[3] %}
{% set itemdict  = app.config['DATA_CONTAINER'].getSelectByKey('PasswordManager','CLASS_'+clsname,itemname) %}





{% block actionbar %}
 {{   PO.AddPasswordClass(classform)         }}
 {{   PO.AddPasswordIterm(clsname,itemform)  }}
 {{   PO.SearchPasswordIterm()       }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    {% if cls == clsname %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
      <a id = "classname_{{cls}}" href="{{url_for('PasswordClass',Class=cls)}}" class="{{Classstyleclass}} {{active}}">
        {{cls}}
      </a>
  {% endfor %}
{% endblock %}







{% block itemlist %}
  {% set clsItems = passwdcls[clsname] %}
  {% for item in clsItems %}
    {% if itemname == item %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
    <a id = "itemname_{{item}}" href="{{url_for('PasswordItem',Class=clsname,item = item )}}" class=" {{itermstyleclass}}  {{active}}">
      {{item}}
    </a>
  {% endfor %}
{% endblock %}








<!-- interact with iterm -->
{% block edititerm %}
{#% set ctime = moment( app.config['fun_FUM'].gettimeobj(itemdict['createtime'])  ).calendar() %#}
{% set dt = app.config['fun_FUM'].gettimeobj(itemdict['createtime']) %}
{% set ctime = app.config['fun_FUM'].getDatetimeStrWithZone( dt ) %}

<div class="card">

  <div class="card-title">
    <center class="row">
      <h2 class="col" id="hoverable-rows" >{{itemname}} </h2>
      <p class="col">( created@ {{ctime}} )</p>
    </center>
  </div>


<div class="card-body">

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" data-toggle="modal" data-target="#CreateKeyPair" class="btn btn-primary"><i class="far fa-plus-square"></i></button>
  <a href="{{url_for('PasswordActionRecord',Class=clsname,item = itemname)}}" role="button" class="btn btn-primary"><i class="fas fa-history"></i></a>
  <button type="button" data-toggle="modal" data-target="#MoveItemToAnotherClass" class="btn btn-primary" ><i class="fas fa-archive"></i></button>
</div>




{% call obj.BootstrapModalBody(uid="MoveItemToAnotherClass",head="Select a class to put") %}
<div class="list-group">
  {% for Class in  passwdcls %}
    <a href="{{url_for('ReclassifyItem',Class = clsname ,item = itemname,ClassNew = Class)}}" class="list-group-item list-group-item-action">{{Class}}</a>
  {% endfor %}
</div>
{% endcall %}



















<!-- recomendation keys -->
{% set MostPorpularList,LessPorpularlist = objitem.GetPopularKeyList() %}
<div class="bd-example">
  <p>Key recomendations:</p>
 {% for l1 in MostPorpularList %}
  <button onclick="CreatePair_by_recomendation_key('{{l1}}')" type="button" class="btn btn-secondary"> {{l1}} </button>
 {% endfor %}
  <div class="btn-group" role="group">
     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Others
     </button>
     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
       {% for l1 in LessPorpularlist %}
          <a class="dropdown-item" href="#" onclick="CreatePair_by_recomendation_key('{{l1}}')" >{{l1}}</a>
       {% endfor %}
     </div>
   </div>
</div>

<script>
function CreatePair_by_recomendation_key(key){
  document.getElementById('CreateKeyPair_key').value = key;
  $('#CreateKeyPair').modal('show');
}
</script>








<div class="bd-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>


     {% for key in objitem.data %}
       {% set value = objitem.data[key] %}
        <tr>
          <th scope="row">
            {{obj.ClickToClipboard(
              txt = key,
              class="btn btn-outline-secondary",
              )}}
          </th>
          <td>
            {{obj.ClickToClipboard(
              txt = value,
              class="btn btn-outline-secondary",
              )}}
          </td>
          <td  >
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
              <button onclick="return EditeKeyValuePair('{{key}}','{{value}}');" type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
              <button onclick="return DeleteKeyvalPair('{{key}}');" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>






<!-- create key-val pair -->
 {% call obj.BootstrapModalBody(uid = 'CreateKeyPair',head=None) %}
 {{obj.DateTimebock(uid='CreateKeyPair',IsShowTime = True )}}
 <form method='post' action = "{{url_for('PasswordAddKeyvalPair',Class=clsname,item=itemname)}}">
   {{ kvform.hidden_tag() }}
   <div class="modal-body">
     <div class="form-group">
       <label for="recipient-name" class="col-form-label">Key:</label>
       <!-- <input type="text"  id="CreateKeyPair_key"> -->
       {{ kvform.key(class="form-control" , id="CreateKeyPair_key" ) }}
     </div>
     <div class="form-group">
       <label for="recipient-name" class="col-form-label">Value:</label>
       <!-- <input type="text" class="form-control" id="CreateKeyPair_value"> -->
       {{ kvform.val(class="form-control") }}
     </div>
   </div>

   <div style="display:none"> {{ kvform.time(id='CreateKeyPair_time') }} </div>
   <div class="modal-footer">
     <button onclick="return CreateKeyPair_submitform();" type="submit" class="btn btn-primary">Send</button>
   </div>
</form>

<script>
// refresh time when wake up "create key pair"
$('#CreateKeyPair').on('show.bs.modal', function (e) {
  RefreshTimeCreateKeyPair();
})

function CreateKeyPair_submitform(){
  document.getElementById('CreateKeyPair_time' ).value = getInputTimeSecsCreateKeyPair();
  return true
}


</script>

 {% endcall %}










<!-- edite key-val pair -->
  {% call obj.BootstrapModalBody(uid = 'EditeKeyValPair',head=None) %}
  {{obj.DateTimebock(uid='EditeKeyVal',IsShowTime = True )}}
  <form method='post' action = "{{url_for('ReviseKeyvalPair',Class=clsname,item=itemname)}}">
    {{ kvform.hidden_tag() }}
    <div class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Key:</label>
        <!-- <input type="text"  id="CreateKeyPair_key"> -->
        {{ kvform.key(class="form-control",id='EditeKeyVal_form_key') }}
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Value:</label>
        <!-- <input type="text" class="form-control" id="CreateKeyPair_value"> -->
        {{ kvform.val(class="form-control",id='EditeKeyVal_form_val') }}
      </div>
    </div>

    <div style="display:none"> {{ kvform.time(id='EditeKeyPair_time') }} </div>
    <div class="modal-footer">
      <button onclick="return EditeKeyVal_submitform();" type="submit" class="btn btn-primary">Send</button>
    </div>
 </form>

 <script>
 // refresh time when wake up "edite key pair"
 $('#EditeKeyValPair').on('show.bs.modal', function (e) {
   RefreshTimeEditeKeyVal();
 })



 function EditeKeyValuePair(key,val) {
   document.getElementById('EditeKeyVal_form_key' ).value = key;
   document.getElementById('EditeKeyVal_form_val' ).value = val;
   document.getElementById('EditeKeyVal_form_key' ).readOnly = true;
   $('#EditeKeyValPair').modal('show');
   return false
 }

 function EditeKeyVal_submitform() {
   document.getElementById('EditeKeyPair_time' ).value = getInputTimeSecsEditeKeyVal();
   return true;
 }


 </script>

  {% endcall %}



















<!-- delete key-val pair  -->
<div style="display:none">
  <form id='deleteKeyVal' method='post' action = "{{url_for('DeleteKeyvalPair',Class = clsname ,item = itemname)}}">
    {{ kvform.hidden_tag() }}
    {{ kvform.key(id='DeleteKeyPair_key',class="form-control") }}
    {{ kvform.val(id='DeleteKeyPair_val',class="form-control") }}
    {{ kvform.time(id='DeleteKeyPair_time') }}
  </form>
</div>
<script>
function DeleteKeyvalPair(key) {
  time = getsecnow()
  swal({
    title: "Are you sure delete '" + key + "' ?",
    text: " ",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
      document.getElementById('DeleteKeyPair_key' ).value = key;
      document.getElementById('DeleteKeyPair_val' ).value = ' ';
      document.getElementById('DeleteKeyPair_time' ).value = getsecnow();
      document.getElementById("deleteKeyVal").submit();
    }
  });
}
</script>

















</div>



</div>
{% endblock %}




{% block scripts %}
<script>


document.addEventListener('readystatechange', event => {
  if (event.target.readyState === "complete") {
    ScrollIntoView("classname_{{clsname}}");
    ScrollIntoView("itemname_{{itemname}}");
  }
});


</script>
{% endblock %}
