{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}
{% import 'objects.html.j2' as obj %}


{% set clsname  = request.path.split('/')[2] %}
{% set itemname = request.path.split('/')[3] %}
{% set itemdict  = app.config['DATA_CONTAINER'].GetTable('PasswordManager')['class'][clsname][itemname] %}





{% block actionbar %}
 {{   PO.AddPasswordClass(classform)         }}
 {{   PO.AddPasswordIterm(clsname,itemform)  }}
 {{   PO.SearchPasswordIterm()       }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    {% if cls == clsname %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
      <a href="{{url_for('PasswordClass',Class=cls)}}" class="{{Classstyleclass}} {{active}}">
        {{cls}}
      </a>
  {% endfor %}
{% endblock %}







{% block itemlist %}
  {% set clsItems = passwdcls[clsname] %}
  {% for item in clsItems %}
    {% if itemname == item %}
      {% set active = "active" %}
    {% else %}
      {% set active = "" %}
    {% endif %}
    <a href="{{url_for('PasswordItem',Class=clsname,item = item )}}" class=" {{itermstyleclass}}  {{active}}">
      {{item}}
    </a>
  {% endfor %}
{% endblock %}








<!-- interact with iterm -->
{% block edititerm %}


{% set ctime = moment( app.config['fun_FUM'].gettimeobj(itemdict['createtime'])  ).calendar() %}

<center class="row">
<h2 class="col" id="hoverable-rows" >{{itemname}} </h2>
<p class="col">( created@ {{ctime}} )</p>
</center>

<button type="button" data-toggle="modal" data-target="#CreateKeyPair" class="row btn btn-link">
  Create KeyPair
</button>




{% set MostPorpularList,LessPorpularlist = objitem.GetPopularKeyList() %}
<div class="bd-example">


 {% for l1 in MostPorpularList %}
  <button type="button" class="btn btn-secondary"> {{l1}} </button>
 {% endfor %}
  <!-- <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-secondary">Secondary</button> -->

  <div class="btn-group" role="group">
     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Others
     </button>
     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
       {% for l1 in LessPorpularlist %}
          <a class="dropdown-item" href="#">{{l1}}</a>
       {% endfor %}
     </div>
   </div>

</div>



<div class="bd-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>


     {% for key in objitem.data %}
      <tr>
        <th scope="row">
          {{obj.ClickToClipboard(
            txt = key,
            class="btn btn-outline-secondary",
            )}}
        </th>
        <td>
          {{obj.ClickToClipboard(
            txt = objitem.data[key],
            class="btn btn-outline-secondary",
            )}}
        </td>
        <td class='row'>
          <button type="button" class="btn btn-secondary col-3">Edite</button>
          <button type="button" class="btn btn-danger col-3">Delete</button>
        </td>
      </tr>
      {% endfor %}



    </tbody>
  </table>
</div>







 {% call obj.BootstrapModalBody(uid = 'CreateKeyPair',head=None) %}
 {{obj.DateTimebock(uid='CreateKeyPair',IsShowTime = True )}}
 <form method='post' action = "{{url_for('PasswordAddKeyvalPair',Class=clsname,item=itemname)}}">
   {{ kvform.hidden_tag() }}
   <div class="modal-body">
     <div class="form-group">
       <label for="recipient-name" class="col-form-label">Key:</label>
       <!-- <input type="text"  id="CreateKeyPair_key"> -->
       {{ kvform.key(class="form-control") }}
     </div>
     <div class="form-group">
       <label for="recipient-name" class="col-form-label">Value:</label>
       <!-- <input type="text" class="form-control" id="CreateKeyPair_value"> -->
       {{ kvform.val(class="form-control") }}
     </div>
   </div>

   <div style="display:none"> {{ kvform.time(id='CreateKeyPair_time') }} </div>
   <div class="modal-footer">
     <button type="submit" class="btn btn-primary">Send</button>
   </div>
</form>
 {% endcall %}









<script>

// refresh time when wake up "create key pair"
$('#CreateKeyPair').on('show.bs.modal', function (e) {
  RefreshTimeCreateKeyPair();
  document.getElementById('CreateKeyPair_time' ).value = getInputTimeSecsCreateKeyPair();
})


</script>










{% endblock %}




{% block scripts %}
<script>

// function createkeypaire() {
//   var key = document.getElementById('CreateKeyPair_key').value;
//   var val = document.getElementById('CreateKeyPair_value').value;
//
//   // window.location.href = "http://example.com";
// }





</script>
{% endblock %}
