{# <div style="display: none;"> {{ flask.session['SavingUrl'] = flask.request.url }}</div> #}
{% extends "Password.html/BasePage.html.j2" %}
{% import 'Password.html/objects.html.j2' as PO %}


{% set clsname = request.path.split('/')[2] %}

{% block actionbar %}
 {{   PO.AddPasswordClass(classform)         }}
 {{   PO.AddPasswordIterm(clsname,itemform)  }}
 {{   PO.SearchPasswordIterm()       }}
{% endblock %}



{% block classlist %}
  {% for cls in passwdcls %}
    {% if cls == clsname %}
      <a href="{{url_for('PasswordClass',Class=cls)}}" class="list-group-item list-group-item-action active">
        {{cls}}
      </a>
    {% else %}
      <a href="{{url_for('PasswordClass',Class=cls)}}" class="list-group-item list-group-item-action">
        {{cls}}
      </a>
    {% endif %}
  {% endfor %}
{% endblock %}




{% block itemlist %}
  {% set clsItems = passwdcls[clsname] %}
  {% for item in clsItems %}
    <a href="{{url_for('PasswordItem',Class=clsname,item = item )}}" class="list-group-item list-group-item-action list-group-item-info">
      {{item}}
    </a>
  {% endfor %}
{% endblock %}
